/* Login */
.form-signin {
    padding: 1rem;
    
}

.form-input{
    min-height: 70vh;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Register */
.form-register {
    padding: 1rem;
}

.form-register input {
    border-radius: 0;
    margin-bottom: -1px;
}